* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-width: 1280px;
  font-family: 'Microsoft YaHei', 微软雅黑, 'MicrosoftJhengHei', 华文细黑,
    STHeiti, MingLiu;
  -webkit-font-smoothing: antialiased;
}
