.header {
  height: 66px;
  background: rgba(17, 17, 17, 0.75);
  color: #ccc;
  display: flex;
  justify-content: space-between;
  padding-left: 75px;
  padding-right: 55px;
  font-size: 17px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-music {
  background: url(../asset/music.png) left top / 100% 100%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.header-music.closed {
  background-image: url(../asset/music-close.png);
}

.header-logo {
  background: url(../asset/logo.png) center top;
  height: 66px;
  width: 127px;
  margin: 0 25px;
}
.header-logo h1 {
  display: none;
}

.header-nav {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.header-nav a {
  padding: 0 30px;
  letter-spacing: 5px;
}
.header-nav a:hover,
.header-nav a.active {
  color: #fff;
  text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
}
.header-nav-bar {
  background: #69e0ff;
  position: absolute;
  width: 40px;
  height: 5px;
  top: 0;
  transition: 0.2s;
}

.header-right {
  display: flex;
  align-items: center;
}
.header-right a {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.header-right a img {
  opacity: 0.6;
  width: 27px;
  height: 27px;
  margin-left: 18px;
}
.header-right a:hover {
  color: #fff;
}
.header-right a:hover img {
  opacity: 1;
}
